<div class="row">


  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Stream</h3>
      </div>

        <app-ticket *ngFor="let ticket of tickets | paginate: { itemsPerPage: 8, currentPage: p }" [ticket]="ticket" (click)="selectTicket()"></app-ticket>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
  <div class="col-md-8">
    <app-ticket-detail *ngIf="theTicket;else infoText" [ticket]="theTicket"></app-ticket-detail>
    <ng-template #infoText>
      <p>Please Select a Ticket</p>
    </ng-template>

  </div>
</div>